<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}"/>
    <style type="text/css">
      @font-face {
        font-family: "Bebas Neue";
        src: url({{ url_for('static', filename='font/BebasNeue-Regular.ttf') }});
        }
      
      @font-face {
        font-family: "Poppins";
        src: url({{ url_for('static', filename='font/Poppins-Regular.otf') }});
        }
      .font-bebas {
        font-family: 'Bebas Neue' !important;
        padding: 0px 0px;
        align-items: left !important;
        }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="grey lighten-4">
      <nav class="grey darken-3">
        <div class="container">
        <div class="nav-wrapper">
          <a href="{{ url_for('showIndex') }}" class="brand-logo center"><img class="responsive-img" src="{{ url_for('static', filename='img/logo.png') }}" style="max-width: 180px; margin-top: 5px;" alt=""></a>
            <li><a href="{{ url_for('checkStatus') }}" class="btn font-bebas waves-effect" style="background-color: #6ac021; height: 40px; width: 100px; font-size: 20px;">cek status</a></li>
          </ul>
        </div>
        </div>
    </nav>

      {% block content %}{% endblock %}

<!-- footer -->
<footer class="page-footer grey darken-3" style="margin-top: -22px;">
  <div class="container">
    <div class="row">
        <h5 class="white-text font-bebas" style="font-size: 40px;">S I T E M A P</h5>
    </div>
    <div class="row">
        <div class="col l3 s12">
        <p class="grey-text text-lighten-4 poppins">FLASH TOP UP</p>
        <p class="grey-text text-lighten-4 poppins">PEMBELIAN</p>
        <p class="grey-text text-lighten-4 poppins">GAME LAIN</p>
      </div>
      <div class="col l3 s12">
        <ul>
          <p class="grey-text text-lighten-4 poppins">BANTUAN</p>
          <p class="grey-text text-lighten-4 poppins">PROMO</p>
          <p class="grey-text text-lighten-4 poppins">BERITA</p>
        </ul>
      </div>
      <div class="col l3 s12">
        <ul>
          <p class="grey-text text-lighten-4 poppins">CUSTOMER SUPPORT</p>
          <p class="grey-text text-lighten-4 poppins">ESPORT</p>
          <p class="grey-text text-lighten-4 poppins">PEMBAYARAN</p>
        </ul>
      </div>
      <div class="col l3 s12 white">
        <p class="black-text text-lighten-2 font-bebas">follow us</p>
        <ul>
         <img src="{{ url_for('static', filename='img/ig.png') }}" class="responsive-img" style="max-width: 50px;" alt="">
         <img src="{{ url_for('static', filename='img/fb.png') }}" class="responsive-img" style="max-width: 50px;" alt="">
         <img src="{{ url_for('static', filename='img/yt.png') }}" class="responsive-img" style="max-width: 50px;" alt="">
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 GAMECENTERKU 
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
      